<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	th:remove="tag">

<th:block layout:fragment="body-phone">
	
	<!-- 遮罩层 -->
        <div class="mask" onclick="closeMask()"></div>

        <!-- 手机遮罩层 -->
        <div class="phone-mask" onclick="closePhoneMask()"></div>
        
            <!-- 小屏幕导航 -->
        <div id="phone" class="little-top-nav">

            <div class="phone-logo">
                <img :src="avatar" alt=""></img>
            </div>

            <div class="phone-switch">
                <i class="glyphicon glyphicon-align-right" onclick="phoneSwitch()"></i>
            </div>

        </div>
	<script type="text/javascript" charset="utf-8" th:src="@{/js/profession/frame/phone.js}"></script>
</th:block>
</html>