<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" th:remove="tag">
<th:block layout:fragment="body-footer">
<footer class="footer">
	<div class="container">
		<div class="row cn">
			<div class="col-xs-12 col-sm-8">
				<h2>联系我们<small class="en">Contact Us</small></h2>
				<dl class="dl-horizontal">
					<dt>电话<span class="en">Tel</span>：</dt>
					<dd>+86 021-51105660</dd>
					<dt>邮箱<span class="en">Email</span>：</dt>
					<dd>blockchain@newtouch.com</dd>
					<dt>地址<span class="en">Address</span>：</dt>
					<dd style="margin-bottom: 0px;">上海市峨山路91弄98号陆家嘴软件园1号楼4F-6F</dd>
					<dt></dt>
					<dd class="en">4F-6F, No.1 Building, Lujiazui Software Park.Lane 91 E'shan Road, Shanghai</dd>
				</dl>
				<p>Copyright © 版权所有 2011-2021 上海新致软件股份有限公司</p>
			</div>
			<div class="hidden-xs col-xs-12 col-sm-4 qr">
				<p style="padding: 0 0 9px 0;"><img th:src="@{/images/qrcode_for_gh_2b304e1c71ad_344.jpg }" /></p>
				<p style="margin-bottom: 0px;">新致区块链实验室</p>
				<p class="en">Newtouch Blockchain Lab</p>
			</div>
		</div>
	</div>
</footer>
</th:block>
</html>