<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	th:remove="tag">
<th:block layout:fragment="body-right-details">
	<!-- 右侧详情 -->
            <div class="container right-details">
            	<!-- 详情 -->
                <div class="row clearfix">
                    <div class="col-md-12 column detail-title">
                        <h3>
                            Moning, Heather!
                        </h3>
                        <small>Have a nice day!</small>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-8 column md-screen-6">
                        <div class="card card-fluid">
                            <div class="card-header">Engagement</div>
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 column md-screen-6">
                        <div class="card card-fluid">
                            <div class="card-body">
                                <p class="circle-title">Emails sent</p>
                                <div class="circle">

                                </div>
                                <div class="circle-lists">
                                    <div class="col">
                                        <span class="circle-list">
                                            <i class="fa fa-circle text-success" aria-hidden="true"></i>
                                            30 not sent
                                        </span>
                                        <span class="circle-list">
                                            <i class="fa fa-circle text-info" aria-hidden="true"></i>
                                            68 success
                                        </span>
                                    </div>
                                    <div class="col">
                                        <span class="circle-list">
                                            <i class="fa fa-circle text-warning" aria-hidden="true"></i>
                                            38 opened
                                        </span>
                                        <span class="circle-list">
                                            <i class="fa fa-circle text-danger" aria-hidden="true"></i>
                                            SMTP error
                                        </span>
                                    </div>
                                </div>
                                <a href="#">
                                    <button type="button" class="btn btn-default btn-block circle-btn">Open
                                        insights</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4 column md-screen-4 transition-screen-6">
                        <div class="card card-fluid">
                            <div class="card-body">
                                <div class="row">
                                    <div class="clo-auto">
                                        <div class="circle-img"></div>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="other-page">13 tasks solved</a>
                                        <a href="#" class="other-page">Purpose Website UI</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="clo-auto">
                                        <div class="circle-img"></div>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="other-page">13 tasks solved</a>
                                        <a href="#" class="other-page">Purpose Website UI</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="clo-auto">
                                        <div class="circle-img"></div>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="other-page">13 tasks solved</a>
                                        <a href="#" class="other-page">Purpose Website UI</a>
                                    </div>
                                </div>
                                <a href="#">
                                    <button type="button" class="btn btn-default btn-block circle-list-btn">Open
                                        insights</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 column md-screen-4 transition-screen-6">
                        <div class="card card-fluid">
                            <div class="card-body center-block">
                                <div class="center-title">Congratulations!</div>
                                <div class="center-img"></div>
                                <div class="center-footer">Github issues were closed this week.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 column md-screen-4 transition-screen-12">
                        <div class="card card-fluid">
                            <div class="card-body black-card">
                                <div class="black-name">
                                    <i class="fa fa-circle text-danger" aria-hidden="true"></i>
                                    Project at risk
                                </div>
                                <div class="black-icon">i</div>
                                <div class="black-bottom-name">Website redesign</div>
                                <div class="i-coat">
                                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </div>
                                <div class="bottom-black">
                                    <div class="black-block">~~~</div>
                                    <div class="black-date">
                                        <div class="num">8</div>
                                        <div class="date">Days delay</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-8 column md-screen-12">
                        <div class="card card-fluid card-box">
                            <div class="card-body card-box-in">
                                <div class="row clearfix">
                                    <div class="col-md-4 column">
                                        <div class="card card-fluid">
                                            <div class="card-body">
                                                <a href="#">
                                                    <div class="circle-pho">
                                                        <div class="circle-white">
                                                            <div class="circle-little"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="card-name">John Sullivan</div>
                                                <a href="#">
                                                    <span class="card-email">@john.sullivan</span>
                                                </a>
                                                <div class="card-i-list">
                                                    <a href="#">
                                                        <i class="fa fa-envelope-o" aria-hidden="true">
                                                        </i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-phone" aria-hidden="true">
                                                        </i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-share-alt" aria-hidden="true">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 column">
                                        <div class="card card-fluid">
                                            <div class="card-body">
                                                <a href="#">
                                                    <div class="circle-pho">
                                                        <div class="circle-white">
                                                            <div class="circle-little"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="card-name">John Sullivan</div>
                                                <a href="#">
                                                    <span class="card-email">@john.sullivan</span>
                                                </a>
                                                <div class="card-i-list">
                                                    <a href="#">
                                                        <i class="fa fa-envelope-o" aria-hidden="true">
                                                        </i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-phone" aria-hidden="true">
                                                        </i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-share-alt" aria-hidden="true">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 column">
                                        <div class="card card-fluid">
                                            <div class="card-body">
                                                <a href="#">
                                                    <div class="circle-pho">
                                                        <div class="circle-white">
                                                            <div class="circle-little"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="card-name">John Sullivan</div>
                                                <a href="#">
                                                    <span class="card-email">@john.sullivan</span>
                                                </a>
                                                <div class="card-i-list">
                                                    <a href="#">
                                                        <i class="fa fa-envelope-o" aria-hidden="true">
                                                        </i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-phone" aria-hidden="true">
                                                        </i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-share-alt" aria-hidden="true">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-4 column">
                                        <div class="card card-fluid">
                                            <div class="card-body">
                                                <a href="#">
                                                    <div class="circle-pho">
                                                        <div class="circle-white">
                                                            <div class="circle-little"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="card-name">John Sullivan</div>
                                                <a href="#">
                                                    <span class="card-email">@john.sullivan</span>
                                                </a>
                                                <div class="card-i-list">
                                                    <a href="#">
                                                        <i class="fa fa-envelope-o" aria-hidden="true">
                                                        </i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-phone" aria-hidden="true">
                                                        </i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-share-alt" aria-hidden="true">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 column">
                                        <div class="card card-fluid">
                                            <div class="card-body">
                                                <a href="#">
                                                    <div class="circle-pho">
                                                        <div class="circle-white">
                                                            <div class="circle-little"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="card-name">John Sullivan</div>
                                                <a href="#">
                                                    <span class="card-email">@john.sullivan</span>
                                                </a>
                                                <div class="card-i-list">
                                                    <a href="#">
                                                        <i class="fa fa-envelope-o" aria-hidden="true">
                                                        </i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-phone" aria-hidden="true">
                                                        </i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-share-alt" aria-hidden="true">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 column">
                                        <div class="card card-fluid">
                                            <div class="card-body">
                                                <a href="#">
                                                    <div class="circle-pho">
                                                        <div class="circle-white">
                                                            <div class="circle-little"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="card-name">John Sullivan</div>
                                                <a href="#">
                                                    <span class="card-email">@john.sullivan</span>
                                                </a>
                                                <div class="card-i-list">
                                                    <a href="#">
                                                        <i class="fa fa-envelope-o" aria-hidden="true">
                                                        </i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-phone" aria-hidden="true">
                                                        </i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-share-alt" aria-hidden="true">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 column md-screen-12 card-box-bottom">
                        <div class="card card-fluid">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-8 column">
                        <div class="copyright">
                            © 2019
                            <a href="#">Webpixels.</a> All rights reserved.
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer">
                            <a class="footer-name" href="#">
                                RO
                            </a>
                            <a class="footer-name" href="#">
                                Support
                            </a>
                            <a class="footer-name" href="#">
                                Terms
                            </a>
                            <a class="footer-name" href="#">
                                Privacy
                            </a>
                        </div>
                    </div>
                </div>
                <!-- 详情 end -->
            </div>
</th:block>
</html>