<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<th:block layout:insert="~{html-head}">
<th:block layout:fragment="inculde-content">
<script type="text/javascript" charset="utf-8" th:src="@{/plugs/timeline/js/modernizr.custom.js}"></script>
</th:block>
<th:block layout:fragment="script-content">
	<script type="text/javascript">
		$(document).ready(function() {

		});
	</script>
</th:block>
</th:block>
<body>
    <div onselectstart="return false" class="coat" id="dashboard">
		
        <th:block layout:insert="~{body-left-head}"></th:block>
        <!-- 右侧部分 -->
		<th:block layout:insert="~{body-right-content}">
			<th:block layout:fragment="body-content">
				<th:block layout:insert="~{body-top-nav}"></th:block>
<!-- 				<th:block layout:insert="~{body-right-details}"></th:block> -->
				<div class="container right-details" id="transfer">
            	<!-- 详情 -->
                <div class="row clearfix">
                    <div class="col-md-12 column detail-title">
                        <h3>
                          	  转账
                            <small>
                                
                            </small>
                        </h3>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12 column md-screen-12">
                        <div class="card card-fluid">
<!--                             <div class="card-header"> -->
<!--                                 <div class="card-header-left">转账</div> -->
<!--                             </div> -->
                            <div class="card-body">
                                <div class="transfer-coat">
<!--                                     <div class="transfer-title">Transfer-title</div> -->
                                    <div class="transfer-item-name">转账须知</div>
                                    <div class="transfer-transter-name" contenteditable="true">
                                    	转账前请确保账户内余额充足
									</div>
<!--                                     <div class="transfer-item-name">transfer-type</div> -->
<!--                                     <div class="transfer-type"> -->
<!--                                             <select onchange="" required> -->
<!--                                                 <option class="option" value="">Any Location</option> -->
<!--                                                 <option class="option" value="">Australia</option>          -->
<!--                                                 <option class="option" value="">Sweden</option> -->
<!--                                                 <option class="option" value="">Netherlands</option> -->
<!--                                                 <option class="option" value="">Bangkok</option> -->
<!--                                             </select> -->
<!--                                     </div> -->
                                    
                                    <div class="transfer-item-name">币种类型</div>
                                    <div class="currency-type">
                                            <select required v-model="currencyId" v-on:change="getAddress">
                                                <option class="option" v-for="item in currencyList" :value="item.id" v-text="item.name">BTC</option>
                                            </select>
                                    </div>
                                    <div class="transfer-item-name">币种地址</div>
                                    <div class="payment-name">
                                    		<select required v-model="fromAddress" v-on:change="getBalanceByCurrencyAddress">
                                                <option class="option" v-for="item in fromAddressList" :value="item.address" v-text="item.address">0x....</option>
                                            </select>
<!--                                         <input type="text" v-model="fromAddress" readonly style="background: #eee;"> -->
                                    </div>
<!--                                     <div class="transfer-item-name">密码  Password</div> -->
<!--                                     <div class="payment-name"> -->
<!--                                         <input type="text" v-model="password"> -->
<!--                                     </div> -->
									<div class="transfer-item-name" v-show="balanceShow">账户余额 </div>
                                    <div class="transfer-amount" v-show="balanceShow">
                                        <input type="text" class="transfer-num" v-model="balance" disabled>
                                    </div>
                                    <div class="transfer-item-name">转账金额 </div>
                                    <div class="transfer-amount">
                                        <input type="number" min="1" class="transfer-num" v-model="amount">
                                    </div>
                                    <div class="transfer-item-name">转入用户</div>
                                    <div class="payment-name">
                                        <input type="text" v-model="toUsername" v-on:blur="getAddressByUsername">
                                    </div>
                                    <div class="transfer-item-name">转入地址(此地址为转入用户的默认地址)</div>
                                    <div class="payment-name">
                                        <input type="text" v-model="toAddress" disabled>
                                    </div>
<!--                                     <div class="transfer-item-name">备注  Remark</div> -->
<!--                                     <div class="remark"> -->
<!--                                         <textarea name="" id="" cols="100" rows="5"></textarea> -->
<!--                                     </div> -->
                                    <div class="transfer-submit" v-on:click="transfer">确认转账</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<!--                 <div class="row clearfix"> -->
<!--                     <div class="col-md-8 column"> -->
<!--                         <div class="copyright"> -->
<!--                             © 2019 -->
<!--                             <a href="#">Webpixels.</a> All rights reserved. -->
<!--                         </div> -->
<!--                     </div> -->
<!--                     <div class="col-md-4"> -->
<!--                         <div class="footer"> -->
<!--                             <a class="footer-name" href="#"> -->
<!--                                 RO -->
<!--                             </a> -->
<!--                             <a class="footer-name" href="#"> -->
<!--                                 Support -->
<!--                             </a> -->
<!--                             <a class="footer-name" href="#"> -->
<!--                                 Terms -->
<!--                             </a> -->
<!--                             <a class="footer-name" href="#"> -->
<!--                                 Privacy -->
<!--                             </a> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
                <!-- 详情 end -->
            </div>
			</th:block>
			
		</th:block>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">
	var currencyId = [[${currencyId}]];
	var addressList = [[${addressList}]];
</script>
<script th:src="@{/js/profession/transfer/transfer.js}"></script>

</html>