@charset "UTF-8";
.model-fileupload{
	font-size: 12px;
	line-height: 12px;
}
.model-fileupload-label{
	margin-top: 0.3rem;
}

.modal-top{
	top: 13rem;
}

.right-check{
	float: right !important;
	width: 3rem !important;
}

.hash { margin: 0; line-height: 50px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.content .table .address { font-size: 1.4rem; }
.judge{
		float: left;
		    width: 50%;
		    text-align: center;
		    font-size: 1.2rem;
		    line-height: 3rem;
		    height: 4rem;
		    background: #eee;
		    border-right: 1px solid #fff;
	}
	.no-line{
		border-right: 0px solid #fff;
	}
	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 1.9em !important;}
 .cbp_tmtimeline > li .cbp_tmicon {
    width: 2rem;
    height: 2rem;
    font-family: 'ecoico';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 0.4em;
    line-height: 2rem;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #46a4da;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #afdcf8;
    transform: translateX(0.75rem);
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -25px;
}
.cbp_tmtimeline > li .cbp_tmlabel h2 {
    font-size: .8rem;
    margin-top: 0px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
.cbp_tmtimeline > li .cbp_tmlabel {
    padding: 1em;
    font-size: .6em;
}
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    background: #6cbfee;
    transform: translate(.2rem,-0.5rem);
}
.cbp_tmtimeline > li .cbp_tmlabel {
    padding: 1em;
    transform: translate(.2rem,-0.5rem);
}
.cbp_tmtimeline {
    padding: 30px 0 0 0;
    margin: 0;
    list-style: none;
    position: relative;
}
.main, .containers > header {
    width: 90%;
    max-width: 69em;
    margin: 0 auto;
    padding: 0;
}
.timeline_main {
    width: 90%;
    max-width: 69em;
    margin: 0 auto;
    padding: 0;
}
.cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 0.8em !important;
    }
  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 1.9rem !important;
}
.hash_newline{
    word-wrap: break-word;
}
.block-show{
	background-color: #F9F9F9;
	height: 30rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -17px;
}
.heddin_overflow{
	    width: 100%;
    height: 30rem;
    overflow: hidden;
}
.containers{
	padding-right: 15px;padding-left: 15px;
	margin-bottom: 2rem;
}
.shadow{
	box-shadow: 3px 5px 12px #ddd;
}
@media screen and (min-width: 320px) and (max-width: 414px){
	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
   		margin-right: 1.9rem;
	}
	.cbp_tmtimeline > li .cbp_tmlabel{
		margin-right: 1.9rem;
	}
	.cbp_tmtimeline > li .cbp_tmicon{
		display: none;
	}
}
.pie{
	height: 30rem;
	padding:10px;
}
.info{
	float: right;
    font-size: 1.6rem;
    line-height: .9rem;
    color: white;
}
.dashboard_block{
	margin-bottom: 0px;
}
.tab_center{
	line-height: 50px !important;
}

.dl-horizontal dt { text-align: left; }
.dl-horizontal dt i { text-align: center; width: 25px; margin-right: 10px; }
.dl-horizontal dd { word-break: break-all; padding-top: 1px; margin-bottom: 25px; }
.dl-horizontal dd i { margin-left: 10px; color: #acacac; }
.dl-horizontal dd .clock { margin-left: 0; margin-right: 10px; }
.en {
    font-family: Corbel;
    letter-spacing: 1px;
}
.cn {
    font-family: PingFangSC-Light, 'Microsoft JhengHei', 'Microsoft YaHei';
    letter-spacing: 2px;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
kbd{
	background-color: indianred;
	word-break: break-all;
}
.tab_no_data{
	text-align: center ;
    padding-top: 4rem !important;
    color: cadetblue;
}
.bill_detail_title{
	    height: 3rem;
}